body {
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}

.centered-text {
    text-align: center;
    vertical-align: middle;
    color: white;
}

.table-color {
	color: white;
}

/* label color */
.input-field label {
 color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #fff;
}